<div class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <h2 class="font-boomerang text-left">About Us</h2>
        <p class="my-5 text-muted text-justify">We offer landscaping services for past 20 years satisifying clients at Madurai,Tirunelveli and Tuticorin.We are current plannning to extend the services at chennai.Our goal is to interact and provide a more customizable garden based on client requirement.</p>
        <div class="accordion" id="accordionExample">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="accordion-button wow fadeInLeft">
              <i class="fa fa-users"></i>
              <span class="font-cap">Professional Team</span>
            </div>
          </button>
          <div id="collapseOne" class="collapse show wow fadeInLeft" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body text-muted text-justify">
              Our team has been assisting customers with exterior design for over a decade.
            </div>
          </div>
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="accordion-button wow fadeInLeft" data-wow-duration="2s">
              <i class="fa fa-magic"></i>
              <span class="font-cap">Innovative Solution</span>
            </div>
          </button>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body text-muted text-justify">
              We offer individual and innovative design solutions to both residential and commercial clients.
            </div>
          </div>
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="accordion-button wow fadeInLeft" data-wow-duration="2.5s">
              <i class="fa fa-leaf"></i>
              <span class="font-cap">Green Guarantee</span>
            </div>
          </button>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body text-muted text-justify">
              We guarantee that your plants will be in perfect condition for many years.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-12 about-imgs">
        <div class="row">
          <div class="col-sm-6">
            <%= image_tag 'about/3dplants.jpg', class: 'about-img1', alt: 'first plant' %>
          </div>
          <div class="col-sm-6">
            <%= image_tag 'about/garden.jpg', class: 'about-img2', alt: 'first plant' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>