<div class="offers">
  <div class="container">
    <h2 class="font-intrique">What We Offer</h2>
    <h6>Here are reasons to choose us!</h3>
    <hr class="hr-green">
    <div class="row">
      <div class="col-12 col-lg-4 offer-card wow fadeInLeft">
        <%= image_tag 'offer/watering.png', alt: 'first plant' %>
        <h3 class="pt-4">Garden Maintenance</h3>
        <p class="text-muted">We perform trimming hedges mowing lawns and give life to your garden.</p>
      </div>
      <div class="col-12 col-lg-4 offer-card wow fadeInUp">
        <%= image_tag 'offer/seeding.png', alt: 'first plant' %>
        <h3 class="pt-4">3D-Design</h3>
        <p class="text-muted">Get an attractive design for your garden with our help. Your backyard won’t be the same.</p>
      </div>
      <div class="col-12 col-lg-4 offer-card wow fadeInRight">
        <%= image_tag 'offer/tool.png', alt: 'first plant' %>
        <h3 class="pt-4">Garden Supplies</h3>
        <p class="text-muted">Our company provides professional gardening equipment for any purpose and goal.</p>
      </div>
    </div>
  </div>
</div>