<div class="team text-center">
  <div class="container">
    <h2 class="font-cookie">Meet <strong>Our Team</strong></h2>
    <h6>We fond of our gardening professionals.</h3>
    <hr class="hr-green">
    <div class="row">
      <div class="col-12 col-lg-4 team-card wow zoomIn">
        <%= image_tag 'team/team1.jpg', alt: 'first plant' %>
        <h3 class="pt-4">Rajiv</h3>
        <p class="text-muted">Founder</p>
      </div>
      <div class="col-12 col-lg-4 team-card wow zoomIn">
        <%= image_tag 'team/team3.jpg', alt: 'first plant' %>
        <h3 class="pt-4">Philips</h3>
        <p class="text-muted">Garden Manager</p>
      </div>
      <div class="col-12 col-lg-4 team-card wow zoomIn">
        <%= image_tag 'team/team4.jpg', alt: 'first plant' %>
        <h3 class="pt-4">Rajiv Philips</h3>
        <p class="text-muted">Gamer</p>
      </div>
    </div>
  </div>
</div>